# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/
# Allow backend documentation
!backend/docs/

# Environment files
.env
.env.local
.env.*.local
